<head>
    <title>JSvsANGULAR1</title>
    <script src="angular.min.js"></script>
    <script src="index.js"></script>
</head>
<body ng-app="myApp" ng-controller="MyController">
<content b="bbb" text="newText"></content>
</body>
